<!DOCTYPE html>
<html lang="ru">
  <head>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" 
      content="width=device-width, initial-scale=1">
      {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="icon" href="{% static 'img/fav/favicon.ico' %}" type="image">
    <link rel="apple-touch-icon" sizes="180x180"
      href="img/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32"
      href="img/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16"
      href="img/fav/favicon-16x16.png">
  </head>
  <body>
    <header>
      {% include 'includes/header.html' %}
    </header>
    <nav>
    <div id="nav">
      <ul>
          <li><a href="#">Главная</a></li>
          <li><a href="#">О нас</a></li>
          <li><a href="#">Новости</a></li>
          <li><a href="#">Ресурс и мотивация</a></li>
          <li><a href="#">Статьи</a></li>
      </ul>
  </div>
</nav>
  <div id="header">
    <h1>Welcome to My Website</h1>
  </div>
    <main>
      <div class="container py-5">
        {% block content %}
          контент
        {%endblock%}
      </div>
    </main>    
    <footer class="border-top text-center py-3">
        {% include 'includes/footer.html' %}   
    </footer>
  </body>
</html>
